@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?xhxtuf');
  src:  url('icomoon.eot?xhxtuf#iefix') format('embedded-opentype'),
    url('icomoon.ttf?xhxtuf') format('truetype'),
    url('icomoon.woff?xhxtuf') format('woff'),
    url('icomoon.svg?xhxtuf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-keyboard:before {
  content: "\e955";
}
.icon-user:before {
  content: "\e971";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-hackernews:before {
  content: "\eac7";
}
.icon-file-word:before {
  content: "\eae1";
}
